@require '~vuetify/src/stylus/main.styl'

body
  border-top: 4px solid #04befe;

.page
  @extend .fade-transition

a
  text-decoration: none
  color: inherit

.primary-color
  color: #04befe !important;

.card,
.expansion-panel
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 30px 0 rgba(223,225,230,0.5);